@page "/cluster"

@inject IJSRuntime JS

<h3>ClusterAnalysis</h3>
<p> <button @onclick="Magic">
           Call Unmarshalled JS & Return Boolean
       </button></p>
@code {

	private object svg;
	private void Magic()
	{

	}
}