@page "/rankCorrelation"

@using WebApplication.Data

@inject Service Service

<div class="left62">
	<h1>Ранговая корреляция</h1>
	<label>Первый набор данных: <input class="long-input" @bind="XsInput"/></label><br>
	<label>Второй набор данных: <input class="long-input" @bind="YsInput"/></label>
	<label style="display:block;">Точность: <input class="short-input" type="number" @bind="a"/></label>
	<div class="button-box">
		<button type="button" class="btn btn-primary" @onclick="async () => await CalcAndDraw()">Продолжить</button>
		<button type="button" class="btn btn-primary" @onclick="Clear">Очистить</button>
	</div>
</div>

<div class="" style="display: flex; justify-content: flex-start">

    @if (analysis == null)
    {
    	<div></div>
    }
    else if (analysis == null && IsClicked)
    {
        <div>Загрузка...</div>
    }
    else
    {
        <div class="result-box">
            <h2>Результат: </h2>
            <div>
                 <p>Спирмен:</p>
                <p>Коэффициент корреляции: <span>@analysis.CorrelationSpearman</span></p>
                <p>Значимость: <span>@analysis.SignificanceCorrelationSpearman</span></p>
                <p>Кендалл:</p>
                <p>Коэффициент корреляции: <span>@analysis.CorrelationKendall</span></p>
                <p>Значимость: <span>@analysis.SignificanceCorrelationKendall</span></p>
            </div>
        </div>
    }
</div>

@code
{
    private string XsInput = "96.0; 60.0; 74.0; 88.0; 99.0; 79.0; 72.0; 49.0; 83.0; 47.0; 93.0; 72.0; 98.0";
    private string YsInput = "46.0; 76.0; 53.0; 98.0; 61.0; 78.0; 49.0; 72.0; 53.0; 53.0; 52.0; 89.0; 69.0";
    private double a = 0.05;
    private bool IsClicked;

    private MathStatistics.RankCorrelation analysis;

    private async Task CalcAndDraw()
    {
        try
        {
            analysis = await Service.GetRankCorrelationAsync(XsInput, YsInput, a);
        }
        catch (AggregateException)
        {
            return;
        }
        
        IsClicked = true;
    }

    private void Clear()
    {
        analysis = null;
        XsInput = null;
        YsInput = null;
        a = 0;
    }
}